.messages__content {
  padding: 1rem;
  background-color: var(--color-surface);
  border-radius: 1rem;
}

.messages__content p::before {
    content: "♥ ";
}

.messages__content p::after {
    content: " ♥";
}